$blue-primary-color: #0066cc;
$button-hover-blue-color: #3333a7;
$yellow-secondary-color: #ffe601;
$black-content-color: #232323;
$background-color: #fafafa;
$white-background-color: #fff;
$font-e-ukraine-head: e-Ukraine Head;
$font-raleway: Raleway
